.container-missing {
  width: 60%;
  margin: auto;
}

.header-title {
  font-size: 22px;
  margin-bottom: 25px;
}

.row-missing {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.num {
  width: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #2c5287;
}

.sentence {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.missing-input-review4-p2-q1 {
  width: 35px;
  border: none;
  border-bottom: 2px solid black;
  margin: 0 6px;
  font-size: 16px;
  text-align: center;
  /* outline: none; */
}

.sentence-review4-p2-q1 {
  text-align: center;
  display: flex;
  margin-top: 35px;
  font-size: 25px;
}

.img-missing {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.wrong-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-img {
  width: auto;
  height: 90px;
  margin: 0 8px;
}
