.review3-p2-q2-word {
    position: relative;
    /* display: inline-block; */
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circled {
  /* احذفي أي border يزيد الحجم */
  border: none;
}

.circled::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  border: 3px solid #2c5287;
  border-radius: 50%;
  pointer-events: none;
}

