.click-icon-unit2-page7-1 {
  position: absolute;
  padding: 5px;
      top: 10.5%;
    left: 30%;
  cursor: pointer;
}
.click-icon-unit2-page7-2 {
  position: absolute;
  padding: 5px;
  top: 59%;
  left: 40%;
  cursor: pointer;
}
.click-icon-unit2-page7-3 {
  position: absolute;
  padding: 5px;
  bottom: 7.5%;
  left: 48.5%;
  cursor: pointer;
}
