.click-icon-unit2-page8-1 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 40%;
  cursor: pointer;
}

.click-icon-unit2-page8-2 {
  position: absolute;
  padding: 5px;
  top: 37.5%;
  left: 38%;
  cursor: pointer;
}
.headset-icon-CD-unit2-page8-1 {
  position: absolute;
  padding: 5px;
  bottom: 34%;
  right: 26%;
  cursor: pointer;
}

.click-icon-unit2-page8-3 {
  position: absolute;
  padding: 5px;
  bottom: 33.2%;
  right: 27%;
  cursor: pointer;
}
