.click-icon-unit2-page9-1 {
position: absolute;
    padding: 5px;
    top: 10.5%;
    left: 29%;
    cursor: pointer;
}

.click-icon-unit2-page9-2 {
  position: absolute;
  padding: 5px;
     top: 30%;
    left: 32%;
  cursor: pointer;
}

.click-icon-unit2-page9-3 {
  position: absolute;
  padding: 5px;
     bottom: 44%;
    left: 32%;
  cursor: pointer;
}
