.headset-icon-CD-unit2-page2-1,
.click-icon-unit2-page2-1,
.headset-icon-CD-unit2-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit2-page2-1 {
  top: 5.5%;
  right: 1%;
}

.headset-icon-CD-unit2-page2-2 {
  bottom: 27%;
  right: 6%;
}

.click-icon-unit2-page2-1 {
  bottom: 11.5%;
  right: 37%;
}
