.click-icon-unit2-page10-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 32%;

  cursor: pointer;
}

.headset-icon-CD-unit2-page10-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 33%;
  cursor: pointer;
}
.click-icon-unit2-page10-2 {
  position: absolute;
  padding: 5px;
     top: 14.5%;
  left: 40%;
  cursor: pointer;
}
.click-icon-unit2-page10-3 {
  position: absolute;
  padding: 5px;
  top: 49%;
  left: 32%;

  cursor: pointer;
}

.headset-icon-CD-unit2-page10-2 {
  position: absolute;
  padding: 5px;
  top: 49%;
  left: 34%;
  cursor: pointer;
}

.click-icon-unit2-page10-4 {
  position: absolute;
  padding: 5px;
  bottom: 22.5%;
  left: 29%;
  cursor: pointer;
}
