.unscramble-row-wb-unit9-p6-q1 {
    display: grid;
    gap: 20px;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.unscramble-box-wb-unit10-p6-q1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.img-box-wb-unit10-p6-q1 {
    /* width: 121px; */
    height: 130px;
    /* border: 3px solid #7bc4ff; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}