.wb-unit10-p4-q1-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    width: 100%;
    /* justify-content: space-around; */
}


.wb-unit10-p4-q1-text {
    font-size: 18px;
}