.container3-wb-u1-p7-q1 {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
  user-select: none;
  /* padding-bottom: 85px; */
  /* margin-top: 60px; */
  /* width: 100%; */
  align-items: flex-start;
}


.word-section1-wb-u1-p7-q1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}