.letter-input-review9-p2-q3 {
  border-bottom: 2px solid black;
  width: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.error-mark-review9-p2-q3 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  left: 10%;
  top: 29%;
  z-index: 99;
}
