.error-mark8-u2-p19-q2 {
  width: 25px;
  height: 25px;

  border: 2px solid white;
  background-color: red;
  border-radius: 50%;

  color: white;
  font-weight: bold;
  font-size: 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 20%;
  top: 0%;

  z-index: 99;
}

/* =========================================
   CONTAINER
========================================= */

.container12-unit2-pg10-q2 {
  width: 100%;
  position: relative;
  user-select: none;
  margin-bottom: 30px;
}

/* =========================================
   WORD BOX
========================================= */

.word-text {
  flex: 1;

  min-width: 180px; /* كبّرنا العرض */
  min-height: 42px;

  padding: 4px 8px;

  border: 2px solid #000;
  border-radius: 6px;

  font-size: 18px;
  font-weight: 700;

  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  cursor: pointer;
}

/* =========================================
   SELECTED WORD
========================================= */

.word-text.selected-item {
  color: rgb(0, 0, 0);

  padding: 4px 8px;

  border-radius: 8px;

  box-shadow: 0 0 12px rgba(78, 84, 87, 0.7);
}

/* =========================================
   SELECTED IMAGE
========================================= */

.matched-img2.selected-item {
  outline-offset: 4px;
  border-radius: 10px;

  box-shadow: 0 0 12px rgba(114, 208, 246, 0.7);
}
.error-mark8-u2-p19-q2 {
  left: 110%;
  top: 10%;
}
