.headset-icon-CD-unit2-page11-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  top: 5%;
  left: 22%;
}

.pauseBtn-icon-CD-page21 {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px;
  top: 5%;
  left: 27%;
}

@media (max-width: 820px) {
  .pauseBtn-icon-CD-page21 {
    left: 26%;
  }
}
