.headset-icon-CD-unit2-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit2-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 35%;
  cursor: pointer;
}
.click-icon-unit2-page6-2 {
  position: absolute;
  padding: 5px;
  top: 31.5%;
  left: 42.2%;
  cursor: pointer;
}
.headset-icon-CD-unit2-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}

@media (max-width: 820px) {
  .click-icon-unit2-page6-1 {
    top: 4%;
  }
  .click-icon-unit2-page6-2 {
    top: 32.5%;
  }
  .headset-icon-CD-unit2-page6-2 {
    
    bottom: 30%;
    left: 25%;}
}
