.unit10-p1-q2-container {
    display: flex;
    gap: 20px;
    justify-items: center;
    margin-bottom: 60px;
    /* margin-top: 20px; */
    width: 100%;
}

.unit10-p1-q2-flex {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.unit10-p1-q2-options-box{
  display: flex;
}

.unit10-p1-q2-question-box {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
}