.images-row-unit10-page6-q3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sentence-wrapper-unit10-page6-q3 {
  font-size: 20px;
}

.sentence-wrapper-unit10-page6-q3 input {
  border-bottom: 2px solid black;
  width: 80%;
  margin-left: 15px;
}

.image-box-unit10-page6-q3 {
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.image-box-unit10-page6-q3.selected-unit10-page6-q3 {
  border-color: #2c5287; /* أزرق مثل الكتاب */
}

.wrong-mark-unit10-p6-q3 {
  position: absolute;
  top: -10px;
  right: 67px;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff !important;
  justify-content: center;
  z-index: 10;
}
