.answer-input33-wb-unit4-p4-q1 {
    border-bottom: 2px solid;
    text-align: start;
    vertical-align: middle;
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}