.Unit5-P6-Q3-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.Unit5-P6-Q3-box {
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.Unit5-P6-Q3-img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}



@media (max-width: 991px) {
.Unit5-P6-Q3-grid {
  flex-direction: row;
  flex-wrap: wrap;
}
}