.click-icon-review8-page1-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 9.5%;
  left: 39%;
  cursor: pointer;
}

.click-icon-review8-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 22.5%;
  left: 41%;
  cursor: pointer;
}
.click-icon-review8-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 43%;
  left: 38.5%;
  cursor: pointer;
}
.click-icon-review8-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 30.5%;
  cursor: pointer;
}
