.click-icon-review8-page2-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 4%;
  right: 54%;
  cursor: pointer;
}

.click-icon-review8-page2-1 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 30.5%;

  cursor: pointer;
}
.click-icon-review8-page2-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 19.5%;
  left: 76.5%;
  cursor: pointer;
}

.click-icon-review8-page2-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
     top: 65.5%;
    left: 39.5%;
  cursor: pointer;
}
