.click-icon-unit7-page6-2 {
  position: absolute;
  padding: 5px;
    top: 23.5%;
    right: 53%;

  cursor: pointer;
}

.click-icon-unit7-page6-1 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;
  cursor: pointer;
}
.click-icon-unit7-page6-3 {
  position: absolute;
  padding: 5px;
top: 48%;
    left: 39%;

  cursor: pointer;
}
.headset-icon-CD-unit7-page6-1 {
  position: absolute;
  padding: 5px;
 bottom: 27%;
  left: 24.5%;
  cursor: pointer;
}
