.headset-icon-CD-unit7-page1-1,
.click-icon-unit7-page1-1,
.headset-icon-CD-unit7-page1-2,
.click-icon-unit7-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}


.headset-icon-CD-unit7-page1-1 {
  top: 7%;
  right: 14%;
}

.click-icon-unit7-page1-1 {
  left: 19%;
  top: 37%;
}

.headset-icon-CD-unit7-page1-2 {
  bottom: 34.5%;
  left: 26%;
}

.click-icon-unit7-page1-2 {
  bottom: 11.5%;
  right: 39%;
}

#num-1-unit7 {
  top: 31%;
  left: 34%;
}

#num-2-unit7 {
     bottom: 67%;
    left: 41%;
}

#num-3-unit7 {
    top: 23%;
    left: 24.5%;
}

#num-4-unit7 {
top: 39%;
    left: 14.5%;
}

#num-5-unit7 {
      top: 30%;
    left: 66%;
}

#num-6-unit7 {
 bottom: 61%;
    right: 46%;
}

#num-7-unit7 {
 bottom: 43%;
    right: 62%;
}
#num-8-unit7 {
      top: 58%;
    left: 65%;
}

#num-9-unit7 {
    bottom: 20%;
    right: 41%;
}

#num-10-unit7 {
      bottom: 44.5%;
    right: 44%;
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit7-page1-1 {
    top: 6%;
    right: 18%;
  }
  .headset-icon-CD-unit7-page1-2 {
    bottom: 38%;
    left: 25%;
  }
  .click-icon-unit7-page1-2 {
    bottom: 14.5%;
    right: 43%;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit7-page1-1 {
    top: 6.5%;
    right: 16%;
  }
 .headset-icon-CD-unit7-page1-2 {
        bottom: 36.5%;
        left: 25%;
    }
  .click-icon-unit7-page1-2 {
    bottom: 13%;
    right: 41%;
  }
}
